<div class="jumbotron">
      <div class="container">
        <center>
        <h2>Welcome to Patient Document Management System !!! </h2>
        <br><br><br>
        <p>Register to get started.</p>
        <br><br>
        <p>
          <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </center>
      </div>
    </div>